.container_about_us .heading{
    color: #2F4858;
    text-align: center;
    font-family: 'Oswald';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin-top: -10px;
    padding-bottom: 10px;
}

.container_about_us{
    padding-bottom: 150px;
}

.container_photos p{
    width: 818px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #FFF;
    text-align: center;
    font-family: 'Oswald';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container_photos .photos{
    position: relative;
}

.container_slider{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 150px 384px;
}

.container_slider .slider_body #name{
    color: #2F4858;
    font-family: 'Oswald';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.container_slider .slider_body #title{
    color: #2F4858;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;



}

.container_slider .slider_body #story{
    display: flex;
    width: 602px;
    
    color: #2F4858;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;

    padding-top:30px;
    padding-bottom:30px;

}

.container_slider .control #left{
    margin-right: 49px;
    
}

.container_slider .control #right{
    
}

button {
    border: none;
    background-color: white;
}
